/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-image: url("../images/natural_paper.png");
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #2177B9;
  text-align: center;
}

body > footer > div > p{
  color:#66bcff !important;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.thumbnail{
	margin-right:20px;
  margin-bottom:20px;
}


#left-content, #connect{
	background-color:rgba(255,255,255,.6);
	border: 1px solid #dddddd;
	padding-bottom: 30px;
	border-radius:8px;
	padding: 0px 30px 30px 20px;
	margin:20px 0px 20px 0px;
}

#connect a img{
	width:65px;
	height:65px;
  background-color:#fff;
}

#connect > a:nth-child(4) > img{
	padding:3px;
}

.gallery {
	max-height:600px;
	overflow-y:auto;
}

.gallery img{
	margin:0px 20px 20px 0px;
}


#animated_div {
width:96px;
border:0px solid transparent;
height:47px;
background: #92B901;
color: #ffffff;
position: relative;
font-weight:bold;
font-size:20px;
padding:10px;
animation:animated_div 5s 1;
-moz-animation:animated_div 5s 1;
-webkit-animation:animated_div 5s 1;
-o-animation:animated_div 5s 1;
border-radius:5px;
  -webkit-border-radius:5px;
}

@keyframes animated_div
{
0% {transform: rotate(0deg);left:0px;}
25% {transform: rotate(20deg);left:0px;}
50% {transform: rotate(0deg);left:83%;}
55% {transform: rotate(0deg);left:83%;}
70% {transform: rotate(0deg);left:83%;background:#1ec7e6;}
100% {transform: rotate(-360deg);left:0px;}
}

@-webkit-keyframes animated_div
{
0% {-webkit-transform: rotate(0deg);left:0px;}
25% {-webkit-transform: rotate(20deg);left:0px;}
50% {-webkit-transform: rotate(0deg);left:83%;}
55% {-webkit-transform: rotate(0deg);left:83%;}
70% {-webkit-transform: rotate(0deg);left:83%;background:#1ec7e6;}
100% {-webkit-transform: rotate(-360deg);left:0px;}
}

@-moz-keyframes animated_div
{
0%  {-moz-transform: rotate(0deg);left:0px;}
25% {-moz-transform: rotate(20deg);left:0px;}
50%  {-moz-transform: rotate(0deg);left:83%;}
55%  {-moz-transform: rotate(0deg);left:83%;}
70%  {-moz-transform: rotate(0deg);left:83%;background:#1ec7e6;}
100% {-moz-transform: rotate(-360deg);left:0px;}
}

@-o-keyframes animated_div
{
0% {transform: rotate(0deg);left:0px;}
25% {transform: rotate(20deg);left:0px;}
50%  {transform: rotate(0deg);left:483%;}
55%  {transform: rotate(0deg);left:83%;}
70%  {transform: rotate(0deg);left:83%;background:#1ec7e6;}
100% {transform: rotate(-360deg);left:0px;}
}